/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
}
